body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #222;
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

h1, h2 {
  text-align: center;
}

section {
  width: 100%;
  padding: 4rem 2rem;
  box-sizing: border-box;
  z-index: 1;
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

